body {
    background-image: url(../imagens/bg-repeat.jpg);
    background-size: contain;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;    
    font-size: 15px;
}

main {
    width: 1440px;
    height: 100vh;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.container .titulo {
    font-size: 20px;
    font-weight: 900;
    color: #ffff;
}

.container .descricao {
    font-weight: 400;
    margin-top: 11px;
    max-width: 300px;
    color: #ffff;
}

#form {
    min-height: 378px;
    border-radius: 2px;
    background: #FFFFFF;
    padding: 35px;
}

#form input,
#mensagem {
    width: 100%;
    border: #000000 solid 1px;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
}

#form .valido {
    border: #00C22B solid 1px;
}

#form .inválido {
    border: #F52E2E solid 1px;
}

#form button {
    background: #3CCC87;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 20px 0;
    font-weight: 700;
}